@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa/Comfortaa-Bold.eot');
    src: url('/fonts/Comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Comfortaa/Comfortaa-Bold.woff2') format('woff2'),
        url('/fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'),
        url('/fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa/Comfortaa-Light.eot');
    src: url('/fonts/Comfortaa/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Comfortaa/Comfortaa-Light.woff2') format('woff2'),
        url('/fonts/Comfortaa/Comfortaa-Light.woff') format('woff'),
        url('/fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa/Comfortaa.eot');
    src: url('/fonts/Comfortaa/Comfortaa.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Comfortaa/Comfortaa.woff2') format('woff2'),
        url('/fonts/Comfortaa/Comfortaa.woff') format('woff'),
        url('/fonts/Comfortaa/Comfortaa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.wrap{
    min-width: 320px;
}

a{
    color: $white;
    &:hover, &:focus{
        color: $white;
        text-decoration: underline;
    }
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    padding: 15px 22px;
    min-height: 50px;
}

.button {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    background: linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
    outline: none;
    transition: 300ms;
    border: 0;
    &:hover,
    &:focus {
        background-position: 150px;
        text-decoration: none;
    }
    &.small{
        padding: 15px 22px;
    }
    &.hollow {
        position: relative;
        z-index: 1;
        // background: transparent;
        // border: 2px solid transparent;
        // border-image: linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
        // border-image-slice: 1;
        border: 0;
        color: $white;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 2px;
            background: #51021d;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            z-index: -1;
            border-radius: 3px
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            // background: linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
            background-color: $white;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: 5px;
            transition: 300ms;
        }
        &:hover,
        &:focus {
            color: $white;
            &:before {
                background-position: 150px;
            }
        }
    }
    &.simple{
        position: relative;
        z-index: 1;
        background: none;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(260deg, #870010 0%, #ff0056 100%);
            transition: 300ms;
            z-index: -1;
        }
        &:hover{
            &::before{
                width: 300%;
            }
        }
        &.left{
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(260deg, #870010 0%, #ff0056 100%);
                transition: 300ms;
                z-index: -1;
            }
            &:hover{
                &::after{
                    width: 300%;
                }
            }
        }
    }
    &.left{
        &::before{
            position: static;
            content: '';
            display: inline-block;
            width: 7px !important;
            height: 12px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAjUlEQVQoU4WQMQ4BYRBG3+c+G/fQUm5BQyERVGsTEgpKhTNQbWuv4FifjPxkWWLKeZN534z4UraXQKZPZnsFbIDZG7S9AwpgKOnygLY7wB6YAiNJVfSVwBEYA31J9VMV8ATkQE/SrZnhLwxvrJ0AA0nX19oUKAYOrUBNh+0tUKZTzr+esAbmLZg0C6B7B10NOAu5pC6oAAAAAElFTkSuQmCC);
            vertical-align: middle;
            margin-top: -3px;
            margin-right: 10px;
        }
        &.cart{
            &::before{
                width: 17px !important;
                height: 17px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABfElEQVQ4T53UP4jPcRzH8cebFDH5NxlkMoqbFJeNnGK6m+Q25U9SYlJMlAUTA+oWWYi78aQrZ2GwyEgZCJOBEm+99f1e3+6+P9fPZ/u+P6/38/P+8+obBpzMnMQZbMN73IyIW33y6Atm5slKwgxmsReHcS4iri3OWQLJzI14g6cRMdEmZOZdHMH2iPjYBfVBduEFxiPiYQdyAI+rqoio+4XTB9mJeUxExKMOZH8DGV0Cyczj2ITf+I63eICKr8VmfMUX3KsKm2Gvwwp8jsx8jt2d6kp0CtdR21iPbziGs038fgOotPmCXMLFDqQEU6jyTzTixO2mnXrkaEd/uSAH8QTd+fzA6p71V7trOvGCjxVkC141vQ/y3qD4J4z8fT0z57BnWALmImK0hVzB+f+AXI2ICy1krJnLsJxDETHdQrbiJTYMQSnvjETEuxayCs8W+WU5XvlrX0T8XFhrZt5oTLZccntfv4bT9dGF7MAd1Mp//YO0Eh8wGRGvS/cHMv99F5LVyOYAAAAASUVORK5CYII=);
            }
        }
    }
    &.right{
        &::after{
            content: '';
            display: inline-block;
            width: 7px;
            height: 12px;
            vertical-align: middle;
            margin-top: -3px;
            margin-left: 7px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAj0lEQVQoU42QPQ5BARAGZ47lCrQqanolBQkJKkSioKFQ0rqHuI9PnjwvfhrbbWayu9+aZA/c1AVfZZIOsAbG6uydWzRJWsABmKvDl/CEpdAEihUbYKDeK1gKdeAM7IDeByyFGnABjv/DJA3gBGw/xiZ5P6iv5hWlXUaZqqMqSpIusAImP09IUoS/qsvv9z0AKAo9Kp30A4MAAAAASUVORK5CYII=);
        }
    }
}

.head {
    text-transform: uppercase;
    > .row {
        height: 150px;
        position: relative;
        padding-left: 260px;
        @include breakpoint(xlarge down) {
            height: 80px;
        }
        @include breakpoint(medium down) {
            justify-content: flex-end;
        }
    }
    &_logo {
        position: absolute;
        width: 210px;
        height: 200px;
        text-align: center;
        border-radius: 5px;
        background: $white;
        line-height: 200px;
        top: 0;
        left: 15px;
        z-index: 2;
        @include breakpoint(xlarge down) {
            width: 125px;
            height: 120px;
            line-height: 80px;
            padding: 10px;
        }
        img{
            max-height: 100%;
        }
    }
    &_nav{
        @include breakpoint(medium down) {
            display: block;
            padding: 0;
        }
    }
    &_lang {
        font-size: 12px;
        width: 155px;
        @include breakpoint(medium down) {
            width: 100%;
        }
        li:last-child a {
            padding-right: 0;
        }
    }
}

#nav{
    @include breakpoint(medium down) {
        display: block;
        min-height: 100vh;
        margin: 0;
        padding: 10px 0;
        max-height: none;
    }
}

.menu {
    letter-spacing: 2px;
    a {
        color: $black;
        transition: 200ms;
        text-decoration: none;
        &:hover {
            color: $primary-color;
        }
    }
}

.hamb {
    width: 40px;
    height: 34px;
    position: absolute;
    top: 23px;
    right: 15px;
    cursor: pointer;
    &:after {
        // transition-property: transform, border-color;
        transition-duration: .25s;
        transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
        transition-delay: 0s;
        transform-origin: center;
        width: 100%;
        height: 6px;
        background-color: $primary-color;
        border-radius: 3px;
        content: "";
        position: absolute;
        left: 0;
        top: 14px;
    }
    &[aria-expanded="true"] {
        &:after {
            opacity: 0;
        }
        .hamb_inner {
            &:after,
            &:before {
                transition-delay: .125s;
            }
            &:before {
                transform: translateY(14px) rotate(135deg);
            }
            &:after {
                transform: translateY(-14px) rotate(-135deg);
            }
        }
    }
    &_inner {
        display: block;
        height: 34px;
        outline: none;
        position: relative;
        width: 100%;
        &:before {
            @extend .hamb:after;
            top: 0;
        }
        &:after {
            @extend :before;
            top: auto;
            bottom: 0;
        }
    }
    &_label{
        padding-right: 55px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        color: $primary-color;
        text-align: right;
        letter-spacing: 2px;
    }
}

.header {
    // font-family: 'Tahoma', sans-serif;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    text-transform: uppercase;
    &.primary {
        font-size: 44px;
        line-height: 60px;
        margin-bottom: 45px;
        letter-spacing: 5px;
        @include breakpoint(xlarge down) {
            font-size: 25px;
            line-height: normal;
            margin-bottom: 25px;
        }
    }
    &.secondary {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 3px;
        @include breakpoint(medium down) {
            font-size: 20px;
            line-height: normal;
        }
    }
    &.third{
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 3px;
    }
}

.content {
    min-height: calc(100vh - 300px);
    padding-top: 55px;
    padding-bottom: 120px;
    background: linear-gradient(165deg, #8e0131 0%, rgb(60, 9, 26) 40%, rgb(86, 0, 29) 70%, rgb(75, 0, 20) 100%);
    // background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(xlarge down) {
        min-height: calc(100vh - 160px);
        padding-bottom: 60px;
    }
    >.row>.header.primary{
        font-size: 40px;
        letter-spacing: 4px;
        @include breakpoint(medium down) {
            font-size: 25px;
        }
    }
}

.main {
    padding: 0;
    &_inner {
        min-height: calc(100vh - 300px);
        position: relative;
        @include flex-grid-row(null, 1630px);
        @include flex-grid-column();
        flex-wrap: nowrap;
        align-items: center;
        padding: 160px;
        @include breakpoint(1630 down) {
            min-height: calc(100vh - 160px);
            padding-top: 10%;
            padding-bottom: 10%;
        }
        @include breakpoint(small down) {
            flex-direction: column-reverse;
            // align-items: flex-start;
            justify-content: center;
            padding: 60px 10px;
            padding-bottom: 80px;
        }
    }
    &_video {
        min-width: 44.9%;
        @include breakpoint(small down) {
            padding-bottom: 7%;
        }
        &_container {
            position: relative;
            > *:not(img) {
                position: absolute;
            }
            img {
                display: block;
                border-radius: 5px;
            }
        }
        &_button {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: 300ms;
        }
        // .button {
        //     display: block;
        //     min-width: calc(32.2% - 9px);
        //     position: absolute;
        //     bottom: 0;
        //     border-radius: 5px 5px 0 0;
        //     @include breakpoint(small down) {
        //         width: calc(100% - 20px);
        //     }
        // }
    }
    &_content {
        padding-right: 5%;
        text-align: left;
        @include breakpoint(small down) {
            padding: 0;
            text-align: center;
        }
    }
    .header{
        text-align: left;
        margin-bottom: 10px;
        @include breakpoint(small down) {
            text-align: center;
        }
    }
    .button{
        margin-top: 40px;
        @include breakpoint(medium down) {
            margin-top: 20px;
        }
    }
    &_how{
        display: table;
        margin-top: 90px;
        color: rgba(254, 254, 254, 0.17) !important;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include breakpoint(medium down) {
            margin-top: 20px;
        }
        @include breakpoint(small down) {
            margin-left: auto;
            margin-right: auto;
        }
        img{
            margin-right: 8px;
            margin-top: -2px;
        }
    }
}

.about {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_inner {
        @include flex-grid-row(null, 1700px);
        flex-wrap: wrap;
        align-items: center;
        counter-reset: aboutsteps;
    }
    &_step {
        @include flex-grid-column(4);
        position: relative;
        @include breakpoint(small down) {
            @include flex-grid-column(12);
            margin: 10px 0;
            &:first-child{
                margin-top:0
            }
            &:nth-child(3n+1){
                order: 1;
            }
            &:nth-child(3n+2){
                order: 2;
            }
            &:nth-child(3n){
                order: 3;
            }
        }
        &:nth-last-child(2) {
            &:before {
                content: '';
                position: absolute;
                width: 80px;
                height: 80px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                opacity: 0.5;
                top: 50%;
                left: 0;
                transform: translateX(-110%) translateY(-50%) rotate(45deg);
                @include breakpoint(xlarge down) {
                    display: none;
                }
            }
            &:after {
                content: '';
                position: absolute;
                width: 80px;
                height: 80px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                opacity: 0.5;
                top: 50%;
                right: 0;
                transform: translateX(40%) translateY(-50%) rotate(45deg);
                @include breakpoint(xlarge down) {
                    display: none;
                }
            }
        }
        &:nth-child(-n+3){
            align-self: baseline;
        }
        p {
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: 2px;
            display: flex;
            margin-bottom: 90px;
            counter-increment: aboutsteps;
            @include breakpoint(xlarge down) {
                font-size: 15px;
                margin-bottom: 40px;
            }
            @include breakpoint(small down) {
                margin: 0;
                text-align: left;
            }
            &::before {
                content: counter(aboutsteps);
                position: relative;
                z-index: 1;
                display: inline-block;
                min-width: 40px;
                height: 40px;
                font-size: 25px;
                line-height: 22px;
                text-transform: uppercase;
                text-align: center;
                line-height: 40px;
                margin-right: 10px;
                letter-spacing: 0;
                margin-top: -3px;
                background: radial-gradient(ellipse at center, #51021d 17px, rgba(0,0,0,0) 18px), 
                            linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
                border-radius: 50%;
                @include breakpoint(xlarge down) {
                    font-size: 20px;
                    height: 35px;
                    min-width: 35px;
                    line-height: 37px;
                    background: radial-gradient(ellipse at center, #51021d 15px, rgba(0,0,0,0) 16px), 
                                linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
                }
                @include breakpoint(small down) {
                    margin-right: 20px;  
                } 
            }
        }
        &_circle {
            position: relative;
            width: 222px;
            height: 222px;
            background-color: #ff0012;
            background-image: linear-gradient(-32deg, #870010 0%, #ff0056 100%);
            border-radius: 50%;
            margin: auto;
            @include breakpoint(xlarge down) {
                width: 150px;
                height: 150px;
            }
            @include breakpoint(small down) {
                margin: 30px auto;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                @include breakpoint(xlarge down) {
                     transform: translateX(-50%) translateY(-50%) scale(.8);   
                }
            }
        }
        &_video {
            max-width: 390px;
            margin: auto;
        }
    }
    > .button {
        position: absolute;
        width: 390px;
        left: calc(50% - 195px);
        bottom: -28px;
        @include breakpoint(small down) {
            left: calc(50% - 20px);
            transform: translateX(-50%);
            max-width: 390px;
            width: calc(100% - 20px);
            margin: 0 20px;
        }
    }
    + .footer {
        padding-top: 28px;
    }
}

.terms {
    padding-top: 120px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1.5px;
    @include breakpoint(xlarge down) {
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > .row{
            flex: 0 0 auto;
        }
    }
    p,
    .header.primary {
        margin-bottom: 25px;
        @include breakpoint(medium down) {
            margin-bottom: 15px;
        }
        &:last-child{
            margin: 0;
        }
    }
}

.contacts {
    padding-bottom: 45px;
    .header {
        margin-bottom: 15px;
    }
    p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    &_map {
        height: 100%;
        min-height: 428px;
        border-radius: 5px;
        z-index: 1;
        @include breakpoint(medium down) {
            min-height: none;
            height: 300px;
            margin-bottom: 20px;
        }
    }
    [type="submit"] {
        width: 100%;
    }
}

.breadcrumbs{
    height: 50px;
    padding-left: 255px;
    margin-bottom: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3px;
    line-height: 12px;
    @include breakpoint(medium down) {
        height: 40px;
        padding-left: 155px;
        margin-bottom: 20px;
    }
    a{
        color: $white;
    }
    img{
        padding: 0 14px;
    }
}

.blog{
    padding: 0;
    padding-bottom: 60px;
    @include breakpoint(small down) {
        padding-bottom: 30px;
    }
    &_item{
        overflow: hidden;
        padding-bottom: 50px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(233, 233, 233, 0.1);
        @include breakpoint(medium down) {
            padding-bottom: 30px;
            margin-bottom: 20px;
        }
        &.full{
            padding-bottom: 0;
            margin: 0;
            border: 0;
            .blog_item{
                &_title{
                    font-size: 26px;
                    line-height: 32px;
                    @include breakpoint(medium down) {
                        font-size: 22px;
                        line-height: normal;
                    }
                }
                &_date{
                    font-family: 'Comfortaa', cursive;
                    letter-spacing: 2px;
                }
                &_brief{
                    font-size: 16px;
                    line-height: 26px;
                    @include breakpoint(medium down) {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &_title{
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: $white;
            letter-spacing: 2px;
            margin-bottom: 15px;
            @include breakpoint(medium down) {
                font-size: 20px;
                line-height: normal;
            }
        }
        img{
            border-radius: 5px;
        }
        &_date{
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        &_brief{
            font-family: 'Arial';
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            margin: 25px 0;
        }
    }
}

.article{
    
}

.pager{
    font-family: 'Arial';
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    @include breakpoint(small down) {
        margin-bottom: 30px;
    }
    *{
        margin: 0 8px;
        @include breakpoint(medium down) {
            margin: 0 5px;
        }
    }
    a, b{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border: 1px solid rgba(233, 233, 233, 0.1);
        border-radius: 5px;
        line-height: 35px;
        text-decoration: none;
        transition: 300ms;
        font-weight: 400;
        &:hover{
            background: map-get($foundation-palette, primary);
            border-color: transparent;
        }
    }
    b{
       background-color: map-get($foundation-palette, primary);
       border-color: transparent; 
    }
}

.sidebar{

}

.search{
    position: relative;
    border-bottom: 1px solid rgba(233, 233, 233, 0.1);
    margin-bottom: 30px;
    [type="text"]{
        border: 1px solid rgba(233, 233, 233, 0.7);
        background-color: transparent;
        font-size: 13px;
        letter-spacing: 2px;
        color: $white;
        padding-right: 50px;
        margin-bottom: 30px;
        &::placeholder{
            color: $medium-gray;
        }
    }
    [type="submit"]{
        position: absolute;
        top: 0;
        right: 1px;
        width: 50px;
        height: 50px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABgUlEQVQ4T5XTy6tPURjG8c+ThMhEJBkYkJKJnFwmlMuMkZEYyOBImbillJEZQgxlRgq5hGIguQxNlNJx+QdcBooYOC29v/bvtB3OwJrsvdda3+d917OfFd1orU3DVuzEOszEK9zD9SRfh3uHz9RLa20uTmFftzCOX5jRfT+utSQf+gJprZXABRzAF5zEU5TAChzFajzHjiSfJiq31jailL9hW5IXffXW2gLcwAYcTHK+D1/sqh5OcnbyubpjFfgQ77E2yY+ar7ZfYiVGkryeAi5PCl6PZUlKZAC/weIOHpsCno072FI+JClmAN8sI7A9yf0p4KUoL6ZjeZLPQ3gvLncOl2Fl3B+jtXYaR3AuyaG+YfNQFSsYt3Ec75KMt9bqOKM40QGjSS5NDskIrlRLqJae4CfWdHPD/R+xP8mtQdu9eC7BMezGnF7SHuBRF5ba8x27ktydgHsii7AKs1C/biwpX9tmXMN8VMr2/AX/y+2e8CZcxUK8/S+4S1vdvDN49htgy4q90USoPQAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        outline: none;
    }
}

.subscribe{
    &_form{
        position: relative;
        border-bottom: 1px solid rgba(233, 233, 233, 0.1);
        margin-bottom: 30px;
        [type="text"]{
            border: 1px solid rgba(233, 233, 233, 0.7);
            background-color: transparent;
            font-size: 13px;
            letter-spacing: 2px;
            color: $white;
            padding-right: 175px;
            margin-bottom: 30px;
            &::placeholder{
                color: $medium-gray;
            }
        }
        [type="submit"]{
            position: absolute;
            top: 1px;
            right: 1px;
            height: 48px;
            padding: 0 17px;
            border-radius: 0 5px 5px 0;
        }
    }
}

.recent{
    &_item{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        img{
            margin-right: 20px;
            border-radius: 5px;
        }
        &_content{
            font-family: 'Arial', sans-serif;
            font-size: 12px;
            font-weight: 300;
            line-height: 24px;
            a{
                display: block;
                font-size: 14px;
                margin-bottom: 6px;
            }
        }
    }
}

.order{
    padding-top: 90px;
    padding-bottom: 30px;
    @include breakpoint(medium down) {
        padding-top: 55px;
        padding-bottom: 10px;
    }
    &_steps{
        display: flex;
        margin-bottom: 38px;
        counter-reset: steps;
        @include breakpoint(medium down) {
            margin-bottom: 25px;
        }
        @include breakpoint(small down) {
            display: block;
        }
    }
    &_step{
        width: calc(33.33% + 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        // background-image: linear-gradient(to left, $primary-color 0%, $primary-color 100%);
        background-color: #802745;
        position: relative;       
        border-right: 20px solid transparent;
        background-repeat: no-repeat;
        z-index: 3;
        font-weight: 700;
        letter-spacing: 1px;
        padding-left: 20px;
        counter-increment: steps;
        font-size: 16px;
        @include breakpoint(medium down) {
            padding-left: 15px;
            &:nth-last-child(-n+2){
                padding-left: 30px;
            }
        }
        @include breakpoint(small down) {
            width: 100%;
            margin: 0 !important;
            padding-left: 15% !important;
            justify-content: flex-start;
        }
        &.selected{
            // background-image: linear-gradient(to left, #870010 0%, #ff0056 100%);
            background-color: $white;
            &::before{
                background: $white;
                color: $primary-color;
            }
            &::after{
                background: linear-gradient(225deg, #870010 52%,rgba(153,1,52,0) 50%);
            }
        }
        &::before{    
            content: counter(steps);
            display: block;
            width: 30px;
            min-width: 30px;
            height: 30px;
            border: 2px solid $white;
            border-radius: 50%;
            font-family: 'Arial', sans-serif;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
            margin-right: 10px;
            letter-spacing: normal;
        }
        &::after{
            position: absolute;
            right: -16px;
            top: 9px;
            content: '';
            display: block;
            width: 31px;
            height: 31px;
            background: linear-gradient(225deg, rgba(153,1,52,1) 50%,rgba(153,1,52,0) 51%);
            transform: rotate(45deg) skewX(8deg) skewY(8deg);
            border-top: 1px solid #ef0050;
            border-right: 1px solid #ef0050;
            z-index: 2;
        }
        &:nth-child(2){
            z-index: 2;
            margin-left: -20px;
        }
        &:last-child{
            z-index: 1;
            margin-left: -20px;
        }
    }
    .header{
        margin-bottom: 34px;
        position: relative;
        padding: 0 35px;
        a{
            position: absolute;
            right: 0;
            margin-right: 10px;
        }
        img{
            vertical-align: baseline;
        }
    }
    &_filter{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        * {
            flex-grow: 1;
            flex-shrink: 1;
        }
        .select7{
            flex: 0 0 25.642%;
            width: 25.642%;
            background-size: 11px;
            text-align: center;
            text-align-last: center;
            outline: none;
            background-position: 90% center;
            font-family: 'Arial', sans-serif;
            text-transform: uppercase;      
            border-right: 1px solid #e9e9e9;
            margin: 0;
            letter-spacing: 1px;
            line-height: 50px; 
            user-select: none;
            border-radius: 5px 0 0 5px;
            height: 50px;
            padding: 0;
            line-height: 50px;
            color: $dark-gray;
            font-size: 14px;
            @include breakpoint(small down) {
                flex: 0 0 100%;
                border: 0;
                border-radius: 5px 5px 0 0;
            }
            &__current{
                height: 50px;
                padding: 0;
                border: 0;
                border-radius: 5px 0 0 5px;
                color: $dark-gray;
                @include breakpoint(small down) {
                    border-radius: 5px 5px 0 0;
                }
            }
            &__caret{
                border-width: 8px 5.5px 0 5.5px;
                margin-top: -4px;
                border-color: $dark-gray rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
                right: 10%;               
            }
            &__drop{
                border-color: #e9e9e9;
                border-top-right-radius: 0;
                box-sizing: content-box;
                padding-top: 50px;
                padding-bottom: 0;
                @include breakpoint(small down) {
                    border-radius: 5px;
                    box-sizing: border-box;
                }
            }
            &__option {
                height: 50px;
                color: $dark-gray;
                padding: 0;
                line-height: 50px;
                border-top: 1px solid #e9e9e9;
                &:before{
                    display: none;
                }
                &_current{
                    background-color: $light-gray;
                }
            }
        }
        &_label{
            flex: 0 0 25.642%;
            background: $white;
            border-right: 1px solid #e9e9e9;
            font-weight: 700;
            text-transform: uppercase;
            color: $black;
            line-height: 50px;
            text-align: right;
            padding-right: 30px;
            letter-spacing: 1px;
            @include breakpoint(medium down) {
                display: none;
            }
        }
        &_type{
            &:nth-last-of-type(3){
                label{
                    @include breakpoint(small down) {
                        border-radius: 0 0 0 5px;
                    }
                }
            }
            &:last-of-type{
                label{
                    border-radius: 0 5px 5px 0;
                    @include breakpoint(small down) {
                        border-radius: 0 0 5px 0;
                    }
                }
            }
            [type="radio"]{
                display: none;
                &:checked + label{
                    background: $primary-color;
                    color: $white;
                }
            }
            label{
                margin: 0;
                width: 100%;
                height: 100%;
                background: $white;
                color: $dark-gray;
                font-family: 'Arial', sans-serif;
                text-transform: uppercase;
                text-align: center;
                line-height: 50px;
                letter-spacing: 1px;
                transition: 300ms;
                user-select: none;  
            }
        }
    }
    &_item{
        position: relative;
        background-color: $white;
        border-radius: 5px;
        padding: 30px;
        padding-top: 40px;
        text-align: center;
        margin-bottom: 30px;
        &_type{
            position: absolute;
            top: 10px;
            left: 10px;
            font-family: 'Arial', sans-serif;
            font-size: 24px;
            line-height: 22px;
            text-transform: uppercase;
            color: $dark-gray;
            img{
                margin-right: 10px;
                vertical-align: top;
            }
        }
        &_info{
            position: absolute;
            top: 10px;
            right: 10px;
        }
        &_price{
            font-size: 14px;
            font-weight: 700;   
            text-transform: uppercase;
            color: $black;
            margin-top: 30px;
            margin-bottom: 14px;
            letter-spacing: 2px;
        }
        .button{
            width: 100%;
            padding: 18px 0;
        }
    }
}

.delivery{
    padding-top: 90px;
    padding-bottom: 60px;
    @include breakpoint(medium down) {
        padding-top: 55px;
        padding-bottom: 30px;
    }
    .header{
        &.primary{
            margin-bottom: 20px;
        }
    }
    &_product{
        text-align: center;
        position: relative;
        .help{
            position: absolute;
            top: 0;
            right: 20px;
            @include breakpoint(small down) {
                right: 10px;
            }
        }
    }
    &_content{
        font-size: 16px;
        font-weight: 700;
        .header.secondary{
            letter-spacing: 1px;
            font-size: 20px;
            text-align: left;
            margin-bottom: 18px;
        }
        .row{
            flex-wrap: nowrap;
            @include breakpoint(large down) {
                flex-wrap: wrap;
            }
            .column{
                @include breakpoint(large down) {
                    flex: 1 1 50%;  
                    margin: 10px 0;
                }
                @include breakpoint(small down) {
                    flex: 1 1 100%;
                }
            }
        }
        .button{
            white-space: nowrap;
            @include breakpoint(small down) {
                padding-right: 26px;
                padding-left: 26px;
            }
        }
    }
    &_amount{
        position: relative;
        display: inline-flex;
        button{
            width: 50px;
            height: 50px;
            background-color: $primary-color;
            border-radius: 5px 0 0 5px;
            font-size: 30px;
            font-weight: 400;
            outline: none;
            transition: 300ms;
            &:hover{
                background-color: darken($primary-color, 5);
            }
            &:last-child{
                border-radius: 0 5px 5px 0;
            }
        }
        [type="number"]{
            width: 100px;
            border-radius: 0;
            background: none;
            border: 1px solid rgba(233, 233, 233, 0.1);
            text-align: center;
            color: $white;
            margin: 0;
            font-size: 20px;
            font-weight: 700;
            padding: 0 22px;
            @include breakpoint(small down) {
                width: 80px;
            }
        }
    }
    &_price{
        margin-top: 23px;
    }
    &_address{
        @include breakpoint(large down) {
            margin-top: 20px;
        }
        &_inputs{
            input{
                display: inline-block;
                width: calc(50% - 5px);
                margin-bottom: 14px;
                @include breakpoint(small down) {
                    display: block;
                    width: 100%;
                    float: none !important;
                }
                &:nth-child(even){
                    float: right;
                }
            }
        }
    }
    &_total{
        height: 50px;
        margin-top: 40px;
        border: 1px solid rgba(233, 233, 233, 0.1);
        border-radius: 5px;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 2px;
        text-align: center;
        @include breakpoint(medium down) {
            margin-top: 20px;
            span{
                display: block;
            }
        }
    }
    &_pager{
        margin-top: 40px;
        @include breakpoint(medium down) {
            margin-top: 20px;
        }
        .column:first-child{
            .button{
                float: right;
            }
        }
        .button{
            width: 100%;
            max-width: 178px;
            min-width: 130px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.select{
    .header{
        span{
            display: block;
            font-size: 35px;
            font-weight: 400;
            @include breakpoint(medium down) {
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
    &_hint{
        font-family: 'Arial';
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        color: rgba(255,255,255,0.7);
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 20px;
    }
    &_product{
        text-align: center;
    }
    hr{
        width: 1px;
        height: 85%;
        background-color: rgba(233,233,233,0.1);
        border: 0;
        @include breakpoint(small down) {
            display: none;
        }
    }
    &_video{
        padding-top: 40px;
        text-align: center;
        @include breakpoint(small down) {
            flex: 0 0 100%;
        }
        img{
            display: block;
            margin: auto;
        }
        .button{
            padding: 6px 8px;
            line-height: 24px;
            margin-bottom: 20px;
            @include breakpoint(small down) {
                padding: 6px 20px;
            }
        }
        p{
            color: rgba(255,255,255,0.7);
            margin-top: 18px;
            font-family: 'Arial';
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 2px;
        }
    }
}

.video{
    padding-bottom: 30px;
    &_filter{
        display: block;
        @include breakpoint(large down) {
            width: calc(100% - 60px);
            margin-left: auto;
            margin-right: auto;
        }
        .owl{
            &-wrapper{
                &-outer{
                    border-radius: 5px;
                    z-index: 1;
                }
                &.grabbing{
                    label{
                        cursor: grab;
                    }
                }
            }
            &-buttons{
                > div{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &-prev{
                left: -30px;
            }
            &-next{
                right: -30px;   
            }
        }
        label{
            border-radius: 0 !important;
            padding: 0 20px;
            white-space: nowrap;
        }
    }
    &_preview{
        margin-bottom: 30px;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: rgba($black, 0.5);
            transition: 300ms;
            opacity: 0;
        }
        img{
            width: 100%;
        }
        .button{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            white-space: nowrap;
            opacity: 0;
            transition: 300ms;
        }
        &:hover{
            &::before{
                opacity: 1;
            }
            .main_video_button{
                opacity: 0;
                // z-index: -1;
            }
            .button{
                opacity: 1;
            }
        }
    }
    &_pager{
        margin-top: 10px;
    }
}

.plan{
    &_select{
        text-align: center;
        margin-bottom: 65px;
        @include breakpoint(520 down) {
            margin-bottom: 30px;
            label:first-of-type{
                margin-bottom: 40px !important;
            }
        }
        p{
            font-family: 'Arial';
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 40px;
            @include breakpoint(520 down) {
                margin-bottom: 20px;
            }
        }
        [type="radio"]{
            display: none;
            &:checked + label::after{
                background-image: linear-gradient(-86deg, #870010 0%, #ff0056 100%);
            }
        }
        &_label{
            position: relative;
            width: 193px;
            height: 185px;
            background-color: $white;
            border-radius: 5px;
            margin: 0 25px !important;
            vertical-align: top !important;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 30px;
            user-select: none;
            &::before{
                content: '';
                position: absolute;
                width: calc(50% + 28px);
                height: 25px;
                top: -25px;
                left: 50%;
                border-top: 1px solid rgba(233,233,233,0.1);
                border-left: 1px solid rgba(233,233,233,0.1);
                @include breakpoint(520 down) {
                    display: none;
                }
            }
            &::after{
                content: '';
                display: block;
                margin: auto;
                width: 20px;
                height: 20px;
                background-color: $white;
                border: 2px solid #e9e9e9;
                border-radius: 50%;
            }
            &:last-child{
                &::before{
                    transform: scale(-1,1);
                    left: auto;
                    right: 50%;
                }
            }
            b{
                display: block;
                font-family: 'Arial';
                font-size: 30px;
                margin-top: 25px;
                margin-bottom: 20px;
                letter-spacing: 1px;
            }
            span{
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;    
                display: block;
                margin-top: 25px;
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 2px;
            }
            img{
                position: absolute;
                right: -24px;
                bottom: -32px;
            }
        }
    }
    .header.secondary{
        margin: 0;
        letter-spacing: 2px;
    }
}

.total{
    &_order{
        margin-bottom: 25px;
        &_title{
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 30px;
            letter-spacing: 2px;
        }
        &_product{
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 1.5px;
        }
        .help{
            margin-left: 15px;
        }
        &_price{
            display: inline-block;
            font-weight: 700;
            letter-spacing: 3px;
            line-height: 14px;
            padding: 18px 5px;
            border: 1px solid rgba(233,233,233,0.1);
            border-radius: 5px;
            margin-top: 20px;
            max-width: 280px;
            width: 100%;
            text-align: center;
        }
    }
    &_delivery{
        @include breakpoint(small down) {
            margin-bottom: 40px;
        }
        &_title{
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }
    }
    table{
        letter-spacing: 1px;
        td{
            line-height: 24px;
            &:first-child{
                font-weight: 700;
                padding-right: 40px;
            }
            &:last-child{
                font-family: 'Arial';
                font-weight: 300;
            }
        }
    }
    &_payment{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 1px;
            height: 105%;
            background: rgba(233,233,233,0.1);
            left: -1px;
            top: -2.5%;
        }
        &_title{
            @extend .total_order_title;
        }
        &_methods{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            img{
                width: 50%;
                padding: 0 3px;
            }
        }
    }
    &_user{
        margin-top: 40px;
        @include breakpoint(medium down) {
            margin-top: 25px;
        }
        &_select{
            display: flex;
            margin-bottom: 15px;
            [type="radio"]{
                display: none;
                &:checked + label{
                    background-color: $primary-color;
                    border-color: transparent;
                }
            }
            label{
                border: 1px solid rgba(233,233,233,0.1);
                margin: 0;
                height: 50px;
                width: 50%;
                color: $white;
                font-weight: 700;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                user-select: none;
                transition: 300ms;
                &:first-of-type{
                    border-radius: 5px 0 0 5px;
                }
                &:last-of-type{
                    border-radius: 0 5px 5px 0;
                }
            }
        }
        [type="text"]{
            opacity: 1;
            transition: 300ms;
        }
        .hide{
            display: block !important;   
            opacity: 0;
            z-index: -1;
        }
    }
    .button{
        min-width: 280px;
        margin: auto;
        margin-top: 55px;
        @include breakpoint(small down) {
            margin-top: 20px;
        }
    }
}

.status{
    display: flex;
    align-items: center;
    .header{
        &.primary{
            text-transform: none;
            margin-bottom: 25px;
        }
    }
    .button{
        height: 50px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.success{
    &_options{
        text-align: center;    
        p{
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }
        .column{
            padding-top: 15px;
            padding-bottom: 15px;
            &:nth-child(2){
                border-left: 1px solid rgba(233,233,233,0.1);
                border-right: 1px solid rgba(233,233,233,0.1);
            }
        }    
    }
    &_text{
        font-family: 'Arial', sans-serif;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 1px;
    }
}

.fail{
    &_text{
        font-family: 'Arial';
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: rgba(255,255,255,0.7);
        letter-spacing: 2px;
        text-align: center;
        span{
            @include breakpoint(small down) {
                font-size: 18px;
            }
        }
    }
}

.error{
    &_reasons{
        ol{
            margin: 0;
        }
        .reveal_how_step{
            margin-bottom: 15px;
            &_inner{
                p{
                    letter-spacing: 2px;
                    a{
                        font-family: 'Arial', sans-serif;
                        font-size: 16px;
                        font-weight: 300;
                        text-decoration: none;
                        display: inline-block;
                        height: 30px;
                        box-shadow: inset 0 -1px 0 #fff;
                        margin-left: 10px;
                        @include breakpoint(medium down) {
                            margin: 0;
                            height: 26px;
                        }
                    }
                }
            }
            &::before{
                background: radial-gradient(ellipse at center, #51021d 17px, rgba(255, 255, 255, 0) 18px), 
                            linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
                color: $white;
                @include breakpoint(medium down) {
                    background: radial-gradient(ellipse at center, #51021d 13px, rgba(255, 255, 255, 0) 14px), 
                                linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
                }
            }
        }
    }
    &_back{
        text-align: center;
    }
}

.check{
    &_product{
        display: flex;
        align-items: center;
        @include breakpoint(small down) {
            margin-bottom: 30px;
            justify-content: center;
        }
    }
    &_marker{
        margin-left: 120px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        @include breakpoint(medium down) {
            margin-left: 15%;
        }
        p{
            margin-bottom: 20px;
        }
        img{
            display: block;
            margin: auto;
            margin-bottom: 30px;
        }
    }
    &_steps{
        .reveal_how_step [readonly]{
            color: $white;
            border-color: rgba(233,233,233,0.1);
        }
    }
    &_buttons{
        margin-top: 28px;
        .column{
            max-width: 208px;
            @include breakpoint(small down) {
                max-width: none;
            }
        }
        @include breakpoint(small down) {
            margin-left: -55px !important;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 5px;
    height: 150px;
    font-size: 13px;
    color: $black;
    @include breakpoint(xlarge down) {
        height: 80px;
    }
}

.reveal{
    &-overlay{
        opacity: 0 !important;
        transition: all 0.2s ease-out !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
    color: $black;
    overflow: visible;
    transition: all 0.2s ease-out !important; 
    outline: none !important;
    opacity: 0 !important;
    transform: translateY(-18px) perspective(435px) rotateX(8deg) !important;
    @include breakpoint(medium down) {
        padding: 30px;
    }
    @include breakpoint(small down) {
        overflow: auto;
        overflow-x: hidden;
        transform: translateY(0) perspective(435px) rotateX(0) !important;
        margin-top: 0;
        top: 0 !important;
    }
    &.large{
        max-width: 100%;
        // min-height: 90%;
    }
    .header{
        &.primary{
            font-size: 35px;
            line-height: 48px;
            margin-bottom: 35px;
            @include breakpoint(medium down) {
                font-size: 25px;
                line-height: normal;
                margin-bottom: 25px;
            }
        }
        &.secondary{
            text-align: left;
            letter-spacing: 1px;
        }
    }
    &_how{
        .column{
            &:first-child{
                text-align: right;
                @include breakpoint(small down) {
                    display: none;
                }
            }
            &:last-child{
                counter-reset: howsteps;
            }
        }
        &_step{
            display: flex;
            counter-increment: howsteps;
            margin-bottom: 32px;
            &::before{
                content: counter(howsteps);
                display: block;
                min-width: 40px;
                height: 40px;
                background: radial-gradient(ellipse at center, #fff 17px, rgba(255,255,255,0) 18px), 
                            linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
                border-radius: 50%;
                line-height: 40px;
                font-family: 'Arial', sans-serif;
                font-size: 25px;
                font-weight: 400;
                text-transform: uppercase;
                color: $primary-color;
                text-align: center;
                margin-right: 10px;
                @include breakpoint(medium down) {
                    font-size: 20px;
                    height: 30px;
                    min-width: 30px;
                    line-height: 33px;
                    background: radial-gradient(ellipse at center, #fff 13px, rgba(255,255,255,0) 14px), 
                                linear-gradient(260deg, #ff0056 0%, #870010 50%, #ff0056 100%);
                }
            }
            &:nth-child(2){
                p:first-letter{
                    display: inline-block; // Fix font 'Вв' bug
                }
            }
            &:last-child{
                margin: 0;
            }
            &_inner{
                p{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 40px;
                    letter-spacing: .6px;
                    @include breakpoint(medium down) {
                        font-size: 15px;
                        line-height: 30px;
                    }
                }
                img{
                    display: inline-block;
                    margin: 5px;
                }
            }
            [readonly]{
                max-width: 340px;
                height: 75px;
                border: 1px solid #e9e9e9;
                background-color: transparent;
                border-radius: 0;
                margin-bottom: 0;
                font-family: 'Arial', sans-serif;
                font-size: 30px;
                font-weight: 300;
                text-align: center;
                letter-spacing: 2px;
                user-select:all;
            }
        }
    }
    table{
        letter-spacing: 1px;
        td{
            padding-bottom: 40px;
            @include breakpoint(medium down) {
                padding-bottom: 20px;
            }
            @include breakpoint(small down) {
                display: block;
                padding-bottom: 10px;
            }
            &:first-child{
                font-weight: 700;
                text-transform: uppercase;
                white-space: nowrap;
                color: $black;
                padding-right: 45px;
                @include breakpoint(medium down) {
                    white-space: normal;
                
                }
            }
            &:last-child{
                font-family: 'Arial', sans-serif;
                font-weight: 300;
                color: #464646;
            }
        }
        tr:last-child{
            td{
                @include breakpoint(medium up) {
                    padding-bottom: 0;
                }
            }
        }
    }
    &_more{
        .header.primary{
            text-transform: none;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
        &_mail{
            margin: auto;
            text-align: center;
            img{
                margin: 0 20px;
            }
        }
        [href^="mailto"]{
            color: $primary-color;
            font-size: 20px;
            font-weight: 700;
            // line-height: 55px;
            // margin-left: 25px;
            letter-spacing: 1px;
            margin-top: 10px;
            display: inline-block;
            @include breakpoint(small down) {
                font-size: 18px;
            }
        }
    }
    &_why{
        &_content{
            font-family: 'Arial';
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 1px;
            color: #464646;
        }
    }
}

.is-reveal-open .miui-leave-active .reveal,.is-reveal-open .fade-out .reveal,.is-reveal-open .miui-leave .reveal,.miui-leave-active .reveal,.fade-out .reveal,.miui-leave .reveal{
    opacity: 0 !important;
    transform: translateY(-18px) perspective(435px) rotateX(8deg) !important;
    @include breakpoint(small down) {
        transform: translateY(0) perspective(435px) rotateX(0) !important;
    }
}

.is-reveal-open .reveal{
    &-overlay{
        opacity: 1 !important;
    }
    opacity: 1 !important;
    transform: translateY(0) perspective(435px) rotateX(0) !important;
}

.is-reveal-open .miui-leave-active,.is-reveal-open .fade-out,.is-reveal-open .miui-leave,.miui-leave-active,.fade-out,.miui-leave{
    opacity: 0 !important;
}

.close-button{
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    border-radius: 0 5px;
    transition: 300ms;
    outline: none;
    font-size: 60px;
    line-height: 40px;
    font-weight: 300;
    span{
        display: block;
        margin-top: -4px;
    }
    @include breakpoint(small down) {
        border-radius: 0 0 0 5px;
    }
}