doctype html
html(lang="ru")
    include includes/head
    body
        main.wrap.off-canvas-wrapper
            .off-canvas-wrapper-inner(data-off-canvas-wrapper)
                include includes/header
                section.content.delivery.how
                    p.header
                        | Размещаем видео на бутылке.
                    .row.align-top.how_place
                        .small-12.medium-4.column
                            img(src="/img/how/how1.png", alt="")
                            p
                                span Шаг 1
                                | Выбери напиток
                        .small-12.medium-4.column
                            img(src="/img/how/how2.png", alt="")
                            p
                                span Шаг 2
                                | Загрузи свое видео | Запиши
                                br
                                | видео | Выбери из нашей галереи
                        .small-12.medium-4.column
                            img(src="/img/how/how3.png", alt="")
                            p
                                span Шаг 3
                                | Оформи заказ
                    p.header
                        | Как посмотреть?
                    .row.align-center.how_how
                        .small-12.medium-4.large-3.column
                            img(src="/img/how/how4.png", alt="")
                            p
                                span Шаг 1
                                | Установи бесплатное приложение Looksar на
                                br
                                | свой смартфон
                        .small-12.medium-4.large-3.column
                            img(src="/img/how/how5.png", alt="")
                            p
                                span Шаг 2
                                | Введи код
                            input(type="text" readonly value="yvbv")
                        .small-12.medium-4.large-3.column
                            img(src="/img/how/how6.png", alt="")
                            p
                                span Шаг 3
                                | Наведи смартфон на
                                br
                                | этикетку бутылки. Наслаждайся!
                    a.button.hollow(href="/order.html") СОЗДАТЬ ПОДАРОК
                include includes/footer