- var active = 'how'
doctype html
html(lang="ru")
    include includes/head
    body
        main.wrap
            include includes/header
            section.content
                
            include includes/footer
        script(src="/js/app.min.js")