- var active = 'main'
doctype html
html(lang="ru")
    include includes/head
    body
        main.wrap
            include includes/header
            section.content.main
                .main_inner
                    .main_video
                        .main_video_container
                            img(src="/img/video_placeholder.png", alt="")
                            a.main_video_button(href="#")
                                img(src="/img/play.png", alt="Програти")
                        a.button.right(href="/about.html")
                            | Як це працює?
                    .main_content
                        p.header.primary ОСОБИСТІ ВІДЕО ПОВІДОМЛЕННЯ НА ПЛЯШЦІ – НОВИЙ СПОСІБ ДИВУВАТИ ДРУЗІВ ТА ДАРУВАТИ ЕМОЦІЇ!
                        a.button.hollow.large(href="/order.html") Відправляй зараз
            include includes/footer