- var active = 'select'
doctype html
html(lang="ru")
    include includes/head
    body
        main.wrap.off-canvas-wrapper
            .off-canvas-wrapper-inner(data-off-canvas-wrapper)
                include includes/header
                section.content.delivery.select
                    .row
                        .small-12.column.order_steps
                            .order_step
                                | Выберите напиток
                            .order_step.selected
                                | Добавьте видеосообщение
                            .order_step
                                | Оформите заказ
                        .small-12.row.column
                            .large-2.column.show-for-large.select_product
                                img(src="/img/bottle_big.png", alt="Пляшка")
                            .row.large-10
                                p.small-12.column.header.primary
                                    span Класcный выбор!
                                    | Теперь давай сделаем видео&shy;сообщение!
                                p.small-12.column.select_hint
                                    | Чтобы загрузить видеосообщение на выбранную бутылку, воспользуйтесь одним из вариантов:
                                .column.select_video
                                    img(src="/img/create.png", alt="")
                                    | В нашем онлайн видеоредакторе ты сможешь создать персонализированное поздравление. Для этого воспользуйся веб-камерой на компьютере или фронтальной камерой смартфона.
                                    a.button.hollow.large(href="#")
                                        | записать
                                .column.select_video
                                    img(src="/img/upload.png", alt="")
                                    | Если у вас уже есть готовое видео, вы сможете загрузить его с помощью нашего сервиса. Для загрузки допускаются файлы формата mpg4, mov, avi, но не более 50 Мб
                                    input(type="file" class="hide" id="uplvideo")
                                    label.button.hollow.large(for="uplvideo")
                                        | загрузить
                                .column.select_video
                                    img(src="/img/upload.png", alt="")
                                    | В нашей галерее вы можете выбрать уже готовые бесплатные видеооткрытки на любой случай жизни (День рождения, Новый год, 8 марта и т.д.)
                                    a.button.hollow.large(href="/videogallery.html")
                                        | выбрать 
                include includes/footer