- var active = 'terms'
doctype html
html(lang="ru")
    include includes/head
    body
        main.wrap.off-canvas-wrapper
            .off-canvas-wrapper-inner(data-off-canvas-wrapper)
                include includes/header
                section.content.terms
                    .row.column
                        p.header.primary TERMS AND CONDITIONS
                        p The following terms of use have been established in order to provide understanding to any potential customers who may want to acquire the BoomEssays services.
                        p.header.secondary PARTIES CONCERNED
                        p ‘You’ will refer to all persons who access our website, regardless of the reason, while ‘we’ will refer to the entire BoomEssays staff or people affiliated with our website.
                        p.header.secondary TEXT AND/OR CONTENT
                        p We will use ‘content’ or ‘text’ for anything that is housed by the BoomEssays website, regardless if it is text, images or graphics. User content will refer to anything published by users on our website, while third party content will refer to the texts published by affiliated
                include includes/footer