header.head
    .row.column.align-middle.align-spaced
        .head_logo
            a(href="/")
                img(src="/img/logo.jpg", alt="Message on wine")
        #nav.nav.small-12.row.align-justify(data-off-canvas data-position="right" data-auto-focus="false")
            nav.small-12.large-11.column.align-middle.head_nav
                ul.menu.align-justify
                    if (active=='how')
                        li.active
                            a(href="/how.html") О нас
                    else
                        li
                            a(href="/how.html") О нас
                    if (active=='blog')
                        li.active
                            a(href="/blog.html") Идеи для тебя
                    else
                        li
                            a(href="/blog.html") Идеи для тебя
                    if (active=='terms')
                        li.active
                            a(href="/terms.html") Условия использования
                    else
                        li
                            a(href="/terms.html") Условия использования
                    if (active=='contacts')
                        li.active
                            a(href="/contacts.html") Контакты
                    else
                        li
                            a(href="/contacts.html") Контакты
            ul.menu.head_lang
                li.active
                    a(href="#") Укр
                li
                    a(href="#") Eng
                li
                    a(href="#") Рус
        .hide-for-large.hamb_label.column Меню
        .hide-for-large.hamb(data-toggle="nav")
            .hamb_inner