header.head
    .row.column.align-justify.align-middle
        .head_logo
            a(href="/")
                img(src="/img/logo.jpg", alt="Message on wine")
        nav.large-7.column.align-middle.head_nav
            ul.menu.align-justify
                li.active
                    a(href="#") Про СЕРВІС             
                li
                    a(href="#") Умови використання              
                li
                    a(href="#") Блог              
                li
                    a(href="#") Контакти 
        ul.large-2.align-right.menu.head_lang
            li.active
                a(href="#") Укр
            li
                a(href="#") Eng
            li
                a(href="#") Рус